.form {
  margin: 1rem;
  height: 13rem;
}

.control {
  margin: 0.5rem;
  display: flex;
}

.control label {
  font-weight: bold;
  margin-bottom: 0.25rem;
  text-align: left;
  display: block;
  margin: 0rem auto;
  margin-left: 4rem;
  max-width: 7rem;
  width: 90%;
}

.control input {
  text-align: left;
  font: inherit;
  border: 1px solid #ccc;
  margin: 0rem auto;
  border-radius: 4px;
  max-width: 12rem;
  width: 70%;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.actions button {
  font: inherit;
  color: #5a1a01;
  cursor: pointer;
  background-color: transparent;
  margin-top: 1rem;
  border: none;
  border-radius: 25px;
  padding: 0.5rem 2rem;
}

.actions button:hover,
.actions button:active {
  background-color: #ffe6dc;
}

.actions .submit {
  border: 1px solid #5a1a01;
  background-color: #5a1a01;
  color: white;
}

.actions .submit:hover,
.actions .submit:active {
  background-color: #7a2706;
}

.invalid label {
  color: #ca3e51;
}

.invalid input {
  border-color: #aa0b20;
  background-color: #ffeff1;
}
@media (min-width: 150px) {
  .control label,
  .control input {
    margin-left: auto;
  }
}
