.button {
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: #4d1601;
  color: white;
  padding: 0.75rem 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  font-weight: bold;
}
.btns {
  display: flex;
}
.button:hover,
.button:active {
  background-color: #2c0d00;
}

.loginIcon {
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: #4d1601;
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  font-weight: bold;
}
.cartIcon {
  position: relative;
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: #4d1601;
  width: 2rem;
  height: 2rem;
  margin-right: 2rem;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  font-weight: bold;
}
.badge {
  position: absolute;
  bottom: 50%;
  left: 6%;
  font-size: 1rem;
  transform: translate(50%, 8%);
  background-color: #b94517;
  padding: 0.05rem 0.55rem;
  color: white;
  border-radius: 25px;
  margin-right: 1rem;
  font-weight: bold;
}

.button:hover .badge,
.button:active .badge {
  background-color: #92320c;
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
