.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
}
.modal {
  position: fixed;
  top: 12vh;
  left: 5%;
  max-width: 40rem;
  width: 90%;
  background-color: white;
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
}
.modalAccount {
  max-width: 12rem;
  width: 35%;
  left: 55%;
  top: 8vh;
}
/* .signUp {
  width: 90%;
  max-width: 43rem;
  padding: 1rem;
  border-radius: 12px;
  background-color: white;
  margin: 3rem auto;
} */

@media (min-width: 768px) {
  .modal {
    width: 100%;
    left: calc(50% - 20rem);
  }
  .modalAccount {
    width: 100%;
    left: calc(100% - 21rem);
  }
}
@media (max-width: 150px) {
  .modal {
    width: 90%;
  }
  .modalAccount {
    max-width: 18rem;
    width: 100%;
    left: 39%;
    height: 91.5%;
    border-top-left-radius: 14px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 14px;
    margin: auto 1rem;
    /* transition: margin-left 0.5s; */
    animation: slide-down 300ms ease-out backwards;
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* @keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(-2rem);
  }
} */
